body {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  padding-top: $height-header-xs;

  &.hidden {
    overflow: hidden;
  }

  &.dark {
    color: #fff;
    background: #484848;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: $md) {
    max-width: $max-width-md;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $lg) {
    max-width: $max-width-lg;
  }

  @media (min-width: $xl) {
    max-width: $max-width-xl;
  }
}